<div id="main-content" >
    <div class="row m-t-10">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading text-right">
            <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default"><i class="fa fa-question"></i> </button>
          </div>
          <div class="panel-body">
           <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">                                 
                <div class="form-horizontal" >
                  <div class="boder-btm">
                    <h3 class="panel-title">Branch Info</h3>
                  </div>
                  <div *ngIf="record_not_exists">No Form found.</div>
                  <div *ngIf="!record_not_exists" class="m-b-30">
                    <form 
                        *ngIf="form"
                        (ngSubmit)="onSubmit(form.value, form.valid)" 
                        [formGroup]="form" 
                        novalidate>
                         <div *ngFor="let question of final_result; let i = index">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-md-4 col-sm-4 control-label">
                                  {{question.displayName ? question.displayName : question.fieldName}}
                                </label>
                                <div class="col-md-6 col-sm-6" [ngSwitch]="question.fieldType">
                                  <div *ngSwitchCase="'Text'">
                                      <input 
                                        class="form-control" 
                                        type="{{question.fieldType}}"
                                        [formControlName]="question.fieldName" 
                                        [(ngModel)]="question.custom_value">
                                  </div>
                                        <div 
                                          class="alert alert-danger" 
                                          *ngIf="!form.get([question.fieldName]).valid">
                                          *{{question.fieldName}} is required
                                        </div>
                                </div>
                          </div>
                        </div>
                        <div class="form-row">
                            <button class="btn btn-primary m-b-10" type="submit" >Save</button>
                        </div>
                    </form>
                    <div class="form-row">
                      <div *ngIf="payLoad"><strong>The form contains the following values</strong></div>
                      <div>
                          {{payLoad}}
                      </div>
                  </div>
                  </div>
                </div>
		          </div>
           </div>
          </div>
        </div>
      </div>
    </div>
</div>  