

<div class="row">

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="input-group">
        <input type="text"  class="form-control" placeholder="Search" >
        <span class="input-group-btn">
        <button type="button" class="btn btn-bg btn-success" title="Search"><i class="fa fa-search"></i></button>
        </span> </div>
    </div>

    <div class="col-md-9 col-sm-6 col-xs-6 text-right">
        <button class="btn btn-primary m-b-10" data-toggle="modal" data-target="#modal-basic">Add Experience </button>
    </div>

<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Employee Experience</div>
            <div class="card-block table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><strong>Previous Company Name</strong> </th>
                            <th><strong>Job Title</strong> </th>
                            <th><strong>From Date</strong> </th>
                            <th><strong>To Date</strong> </th>
                            <th><strong>Job Description</strong> </th>
                            <th><strong>Action</strong> </th>
                        </tr>
                    </thead>
                    <tbody class="no-bd-y">
                      <tr>
                        <td>JNJ Technologies</td>
                        <td>Web Developer</td>
                        <td>12/02/12 </td>
                        <td>12/02/14 </td>
                        <td>Making Web pages design and development, testing, checking the performance and A/B testing.</td>
                        <td><button type="button" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></button>
                          <button type="button" class="btn btn-sm btn-danger" title="Delete"><i class="fa fa-remove" ></i></button></td>
                      </tr>
                      <tr>
                        <td>ABC Infotech</td>
                        <td>Web Developer</td>
                        <td>01/01/10 </td>
                        <td>12/02/14 </td>
                        <td>Making Web pages design and development, testing, checking the performance and A/B testing.</td>
                        <td><button type="button" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></button>
                          <button type="button" class="btn btn-sm btn-danger" title="Delete"><i class="fa fa-remove" ></i></button></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>