<div id="main-content" >
    <div class="row m-t-10">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading text-right">
            <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default"><i class="fa fa-question"></i> </button>
          </div>
          <div class="panel-body">
           <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                <button [routerLink]="['/lookup/branch/form']" class="btn btn-primary m-b-10" >Add Branch</button>
              </div>
            </div>
            <app-listing [lookup]="lookup"> </app-listing>
          </div>
        </div>
      </div>
    </div>
  </div>