<div id="main-content" >
    <div class="row m-t-10">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading text-right">
            <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default"><i class="fa fa-question"></i> </button>
          </div>
          <div class="panel-body">
           <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                <button [routerLink]="['/lookup/branch/form']" class="btn btn-primary m-b-10" >Add Branch</button>
              </div>
            </div>
            
            
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover">
                    <thead class="no-bd">
                      <tr>
                        
                        <th><strong>Location</strong> </th>
                        <th width="30%"><strong>Address</strong> </th>
                        <th><strong>City</strong> </th>
                        <th><strong>State</strong></th>
                        <th><strong>Is HeadOffice</strong></th>
                        <th><strong>Action</strong></th>                        
                      </tr>
                    </thead>
                    <tbody class="no-bd-y">
                      <tr>                                                
                        <td>Kailashnagar</td>
                        <td>302/B, Indo World Commecial Complex, Opp.Narmada Complex, Nr. Kadiwala School, Nr. Center Point, Ring Road, Majura Gate, SURAT - 395002 (GUJARAT) INDIA. Telephone : 0261-4002247 </td>
                        <td>Surat </td>
                        <td>Gujarat</td>
                        <td><button type="button" class="btn btn-sm btn-success" title="Check"><i class="fa fa-check"></i></button></td>                        
                        <td><button type="button" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></button>  <button type="button" class="btn btn-sm btn-danger" title="Delete"><i class="fa fa-remove" ></i></button></td>                       
                      </tr>
                      <tr>                                                
                        <td>Kailashnagar</td>
                        <td>A 01/02 Milstone Habitat, Kailash Nagar, Sagrampura, SURAT - 395002 (GUJARAT) INDIA. Telephone : 0261-4002247 </td>
                        <td>Surat </td>
                        <td>Gujarat</td>
                        <td><button type="button" class="btn btn-sm btn-success" title="Check"><i class="fa fa-check"></i></button></td>                        
                        <td><button type="button" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></button>  <button type="button" class="btn btn-sm btn-danger" title="Delete"><i class="fa fa-remove" ></i></button></td>                       
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>