<div id="main-content" >
    <div class="row m-t-10">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading text-right">
            <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default"><i class="fa fa-question"></i> </button>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-12 ">
                <label class="bold" >Employee</label>
                <select class="form-control">
                  <option>-- Select --</option>
                </select>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12 ">
                <label class="bold" >Leave Structure</label>
                <select class="form-control">
                  <option>-- Select --</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover">
                    <thead class="no-bd">
                      <tr>
                        <th><strong>Employee Name</strong> </th>
                        <th><strong>Branch</strong> </th>
                        <th><strong>Department</strong> </th>
                        <th><strong>CL(Monthly)</strong></th>
                        <th><strong>Total Leave(Monthly)</strong></th>
                        <th><strong>Total Leave(Yearly)</strong></th>
                        <th><strong>CF</strong></th>
                      </tr>
                    </thead>
                    <tbody class="no-bd-y">
                      <tr *ngFor="let lev of pagedItems">
                        <td> {{lev.fullName}} </td>
                        <td> {{lev.branchName}} </td>
                        <td> {{lev.departmentName}} </td>
                        <td> - </td>
                        <td> {{lev.totalLeaveMonthly}} </td>
                        <td> {{lev.totalLeaveYearly}} </td>
                        <td> {{lev.cf}} </td>
                      </tr>
                    </tbody>
                  </table>
                  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                          <a (click)="setPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                          <a (click)="setPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                          <a (click)="setPage(pager.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                          <a (click)="setPage(pager.totalPages)">Last</a>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>