<table class="table">
    <thead>
      <tr>
        <th>Role</th>
        <th >Record Permissions</th>
        <th>Field Permissions</th>
        <th>Action Permission</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Director</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Manager</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>Team Incharge</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>Team member</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>