<table class="table">
    <thead>
      <tr>
        <th>Role</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Director</td>
        <td><p-inputSwitch></p-inputSwitch></td>
        <td><p-inputSwitch></p-inputSwitch></td>
        <td><p-inputSwitch></p-inputSwitch></td>
      </tr>
      <tr>
        <td>Manager</td>
        <td><p-inputSwitch></p-inputSwitch></td>
        <td><p-inputSwitch></p-inputSwitch></td>
        <td><p-inputSwitch></p-inputSwitch></td>
      </tr>
      <tr>
        <td>Team Incharge</td>
        <td><p-inputSwitch></p-inputSwitch></td>
        <td><p-inputSwitch></p-inputSwitch></td>
        <td><p-inputSwitch></p-inputSwitch></td>
      </tr>
      <tr>
        <td>Team member</td>
        <td><p-inputSwitch></p-inputSwitch></td>
        <td><p-inputSwitch></p-inputSwitch></td>
        <td><p-inputSwitch></p-inputSwitch></td>
      </tr>
    </tbody>
  </table>