<div class="text-right m-b-20">
                <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default"><i class="fa fa-question"></i> </button>
              </div>
              <div class="form-horizontal">
                
                <div class="m-b-30">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Department </label>
                    <div class="col-sm-3">
                      <select class="form-control">
                        <option>---Select---</option>
                      </select>
                    </div>
                    <label class="col-sm-2 control-label">Leave Structure </label>
                    <div class="col-sm-3">
                      <select class="form-control">
                        <option>---Select---</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                  <table class="table table-bordered table-striped table-hover">
                    <thead class="no-bd">
                      <tr>
                        <th><strong>Month</strong> </th>
                        <th><strong>Total Leave Taken</strong> </th>
                        <th><strong>Carry Forward</strong> </th>
                        
                      </tr>
                    </thead>
                    <tbody class="no-bd-y">
                      <tr>
                        <td>January, 2017</td>
                        <td>1</td>
                        <td>7</td>                        
                      </tr>
                      <tr>
                        <td>February, 2017</td>
                        <td>0</td>
                        <td>7</td>                        
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
              </div>
                 
              </div>