<div id="main-content">
    <div class="row m-t-10">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-right">
                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default"><i class="fa fa-question"></i> </button>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                            <button class="btn btn-primary m-b-10">Add Employee</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <label class="bold">Employee</label>
                            <select class="form-control" style="display: none;">
                                <option>-- Select --</option>
                            </select><div class="btn-group bootstrap-select form-control"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="-- Select --"><span class="filter-option pull-left">-- Select --</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">-- Select --</span><i class="fa fa-ok icon-ok check-mark"></i></a></li></ul></div></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <label class="bold">Department</label>
                            <select class="form-control" style="display: none;">
                                <option>-- Select --</option>
                            </select><div class="btn-group bootstrap-select form-control"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="-- Select --"><span class="filter-option pull-left">-- Select --</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">-- Select --</span><i class="fa fa-ok icon-ok check-mark"></i></a></li></ul></div></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <label class="bold">Status</label>
                            <select class="form-control" style="display: none;">
                                <option>-- Select --</option>
                            </select><div class="btn-group bootstrap-select form-control"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="-- Select --"><span class="filter-option pull-left">-- Select --</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">-- Select --</span><i class="fa fa-ok icon-ok check-mark"></i></a></li></ul></div></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <label class="bold">Employee Statistics</label>
                            <select class="form-control" style="display: none;">
                                <option>-- Select --</option>
                            </select><div class="btn-group bootstrap-select form-control"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="-- Select --"><span class="filter-option pull-left">-- Select --</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">-- Select --</span><i class="fa fa-ok icon-ok check-mark"></i></a></li></ul></div></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead class="no-bd">
                                        <tr>
                                            <th><strong>Name</strong> </th>
                                            <th><strong>Branch</strong> </th>
                                            <th><strong>Department</strong> </th>
                                            <th><strong>Job Post</strong></th>
                                            <th><strong>Email</strong></th>
                                            <th><strong>Qualification</strong></th>
                                            <th><strong>Action</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody class="no-bd-y">
                                        <tr *ngFor="let rec of results">
                                            <td> {{rec.firstName}} {{rec.lastName}} </td>
                                            <td>{{rec.branch}}</td>
                                            <td>{{rec.department}}</td>
                                            <td>{{rec.position}}</td>
                                            <td>{{rec.emailId}}</td>
                                            <td>{{rec.qualification}}</td>
                                            <td>
                                                <button [routerLink]="['/employee/edit/'+ rec.employeeId ]" type="button" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></button>
                                                <button type="button" class="btn btn-sm btn-danger" title="Delete"><i class="fa fa-remove"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>