<div id="main-content">
    <div class="row m-t-10">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-right">
                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default"><i class="fa fa-question"></i> </button>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                            <button class="btn btn-primary m-b-10" data-toggle="modal" data-target="#myModal">Add Employee</button>
                        </div>
                    </div>

                        <app-general-listing [lookup]="lookup"> </app-general-listing>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<p-growl [value]="msgs"></p-growl>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="close_model" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Employee Forms </h4>
      </div>
      <div class="modal-body">
            <form (ngSubmit)="onSubmit(form.value, form.valid)" [formGroup]="form" novalidate>
                <div class="form-horizontal">
                    <div class="m-b-30">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"> First Name  <span class="asterisk">*</span> </label>
                            <div class="col-sm-6" >
                                <input class="form-control" type="text" formControlName="f2" [(ngModel)]="_generalDataModel.f2">
                            </div>
                            <div [hidden]="form.get('f2').valid || (form.get('f2').pristine && !submitted)" class="alert alert-danger">
                                FirstName is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"> Last Name  <span class="asterisk">*</span> </label>
                            <div class="col-sm-6" >
                                <input class="form-control" type="text" formControlName="f3" [(ngModel)]="_generalDataModel.f3">
                            </div>
                            <div [hidden]="form.get('f3').valid || (form.get('f3').pristine && !submitted)" class="alert alert-danger">
                                LastName is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"> Email  <span class="asterisk">*</span> </label>
                            <div class="col-sm-6" >
                                <input class="form-control" type="text" formControlName="f4" [(ngModel)]="_generalDataModel.f4">
                            </div>
                            <div [hidden]="form.get('f4').valid || (form.get('f4').pristine && !submitted)" class="alert alert-danger">
                                Email is not valid.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <button class="btn btn-primary m-b-10" type="submit" >Save</button>
                </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>