<div id="main-content">
    <div class="row m-t-10">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-right">
                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default"><i class="fa fa-question"></i> </button>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                            <button class="btn btn-primary m-b-10" data-toggle="modal" data-target="#myModal">Add Employee</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <label class="bold">Employee</label>
                            <select class="form-control" style="display: none;">
                                <option>-- Select --</option>
                            </select><div class="btn-group bootstrap-select form-control"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="-- Select --"><span class="filter-option pull-left">-- Select --</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">-- Select --</span><i class="fa fa-ok icon-ok check-mark"></i></a></li></ul></div></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <label class="bold">Department</label>
                            <select class="form-control" style="display: none;">
                                <option>-- Select --</option>
                            </select><div class="btn-group bootstrap-select form-control"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="-- Select --"><span class="filter-option pull-left">-- Select --</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">-- Select --</span><i class="fa fa-ok icon-ok check-mark"></i></a></li></ul></div></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <label class="bold">Status</label>
                            <select class="form-control" style="display: none;">
                                <option>-- Select --</option>
                            </select><div class="btn-group bootstrap-select form-control"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="-- Select --"><span class="filter-option pull-left">-- Select --</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">-- Select --</span><i class="fa fa-ok icon-ok check-mark"></i></a></li></ul></div></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <label class="bold">Employee Statistics</label>
                            <select class="form-control" style="display: none;">
                                <option>-- Select --</option>
                            </select><div class="btn-group bootstrap-select form-control"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="-- Select --"><span class="filter-option pull-left">-- Select --</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">-- Select --</span><i class="fa fa-ok icon-ok check-mark"></i></a></li></ul></div></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead class="no-bd">
                                        <tr>
                                            <th *ngFor="let fields of _FilteredfieldsHeading"><strong> {{fields.displayName}} </strong> </th>
                                            <th><strong>Action</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody class="no-bd-y">
                                        <tr *ngFor="let rec of _data;let i = index">
                                            <td *ngFor="let r of rec"> {{r.val}} </td>
                                            <td>
                                                <button [routerLink]="['/employee/edit/' + lookup + '/' + rec[0]['id'] ]" type="button" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></button>
                                                <button (click)="delete(rec[0]['id'])" type="button" class="btn btn-sm btn-danger" title="Delete"><i class="fa fa-remove"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-growl [value]="msgs"></p-growl>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="close_model" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Employee Forms </h4>
      </div>
      <div class="modal-body">
            <form (ngSubmit)="onSubmit(form.value, form.valid)" [formGroup]="form" novalidate>
                <div class="form-horizontal">
                    <div class="m-b-30">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"> First Name  <span class="asterisk">*</span> </label>
                            <div class="col-sm-6" >
                                <input class="form-control" type="text" formControlName="f2" [(ngModel)]="_generalDataModel.f2">
                            </div>
                            <div [hidden]="form.get('f2').valid || (form.get('f2').pristine && !submitted)" class="alert alert-danger">
                                FirstName is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"> Last Name  <span class="asterisk">*</span> </label>
                            <div class="col-sm-6" >
                                <input class="form-control" type="text" formControlName="f3" [(ngModel)]="_generalDataModel.f3">
                            </div>
                            <div [hidden]="form.get('f3').valid || (form.get('f3').pristine && !submitted)" class="alert alert-danger">
                                LastName is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"> Email  <span class="asterisk">*</span> </label>
                            <div class="col-sm-6" >
                                <input class="form-control" type="text" formControlName="f4" [(ngModel)]="_generalDataModel.f4">
                            </div>
                            <div [hidden]="form.get('f4').valid || (form.get('f4').pristine && !submitted)" class="alert alert-danger">
                                Email is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <button class="btn btn-primary m-b-10" type="submit" >Save</button>
                </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>