<!--<p>
   Leaves list works!
</p>-->

<div id="main-content">

    <div class="row m-t-10">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-right">


                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default">
                        <i class="fa fa-question"></i>
                    </button>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3 class="panel-title m-t-20">New Leave Request</h3>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                            <button class="btn btn-primary m-b-10" data-toggle="modal" data-target="#modal-basic" (click)="initModel()">New Leave</button>
                            <div class="modal fade text-left" id="modal-basic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" id="closeModal" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel"><strong>New Leave Request</strong> </h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal" id="leaveform" name="leaveform" [formGroup]="employeeLeaveForm" (ngSubmit)="onSubmit(employeeLeaveForm.value, employeeLeaveForm.valid)" novalidate>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">
                                                        From  <span class="asterisk">*</span>
                                                    </label>
                                                    <div class="col-sm-8">
                                                        <p-calendar dateFormat="dd/mm/yy" formControlName="fromDate" [showIcon]="true" [(ngModel)]="_EmployeeLeaveModel.fromDate"></p-calendar>
                                                        <!--<span style="margin-left:35px">{{fields.value|date}}</span>-->
                                                        <!--<input type="text" class="form-control" required>-->
                                                        <div class="alert alert-danger"
                                                             [hidden]="employeeLeaveForm.get('fromDate').valid || (employeeLeaveForm.get('fromDate').pristine && !submitted)">
                                                            * From Date is required
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">
                                                        To  <span class="asterisk">*</span>
                                                    </label>
                                                    <div class="col-sm-8">
                                                        <p-calendar dateFormat="dd/mm/yy" [minDate]="_EmployeeLeaveModel.fromDate" formControlName="toDate" [showIcon]="true" [(ngModel)]="_EmployeeLeaveModel.toDate"></p-calendar>
                                                        <!--<span style="margin-left:35px">{{fields.value|date}}</span>-->
                                                        <!--<input type="text" class="form-control" required>-->
                                                        <div class="alert alert-danger"
                                                             [hidden]="employeeLeaveForm.get('toDate').valid || (employeeLeaveForm.get('toDate').pristine && !submitted)">
                                                            * To Date is required
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">
                                                        leave Type <span class="asterisk">*</span>
                                                    </label>
                                                    <div class="col-sm-8">
                                                        <select [(ngModel)]="_EmployeeLeaveModel.leaveTypeId" formControlName="leaveTypeId" class="form-control">
                                                            <option value="">--Select--</option>
                                                            <option *ngFor="let leave of _leaveTypesList" value={{leave.key}}>{{leave.name}}</option>
                                                        </select>
                                                        <!--<input type="text" class="form-control" required>-->
                                                        <div class="alert alert-danger"
                                                             [hidden]="employeeLeaveForm.get('leaveTypeId').valid || (employeeLeaveForm.get('leaveTypeId').pristine && !submitted)">
                                                            * Leave Type is required
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">
                                                        Reason <span class="asterisk">*</span>
                                                    </label>
                                                    <div class="col-sm-8">
                                                        <textarea rows="5" [(ngModel)]="_EmployeeLeaveModel.leaveReason" formControlName="leaveReason" class="form-control valid" placeholder="" required></textarea>
                                                    </div>
                                                </div>
                                                <!--<div class="form-group">
                                                    <label class="col-sm-4 control-label">
                                                        Status <span class="asterisk">*</span>
                                                    </label>
                                                    <div class="col-sm-8">
                                                        <select [(ngModel)]="_EmployeeLeaveModel.status" formControlName="status" class="form-control">
                                                            <option value="">--Select--</option>
                                                            <option *ngFor="let leave of leaveStatusList" value={{leave.name}}>{{leave.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>-->
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">
                                                        Is Half Day <span class="asterisk">*</span>
                                                    </label>
                                                    <div class="col-sm-2">
                                                        <input type="checkbox" [(ngModel)]="_EmployeeLeaveModel.isHalfDay" formControlName="isHalfDay" class="form-control">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <!--<button type="button" class="btn btn-primary" onclick="javascript:$('#form1').parsley('validate');">Save</button>-->
                                            <button type="submit" class="btn btn-primary" (click)="onSubmit(employeeLeaveForm.value, employeeLeaveForm.valid)">Submit</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                            <table class="table table-bordered table-striped table-hover">
                                <thead class="no-bd">
                                    <tr>
                                        <th>
                                            <strong>Date</strong>
                                        </th>
                                        <th>
                                            <strong>Leave Reason</strong>
                                        </th>
                                        <th>
                                            <strong>Status</strong>
                                        </th>
                                        <th>
                                            <strong>Leave cancel</strong>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody class="no-bd-y">
                                    <tr *ngFor="let rec of _employeeLeaveList;let i = index">
                                        <td>{{rec.fromDate| date: 'dd/MM/yyyy'}} to {{rec.toDate| date: 'dd/MM/yyyy'}}</td>
                                        <td>{{rec.leaveReason}}</td>
                                        <td>{{rec.status}}</td>
                                        <td><button type="button" class="btn btn-sm btn-danger" (click)="DeleteLeave(rec.id)"><i class="fa fa-remove"></i></button></td>
                                    </tr>
                                    <!--<tr>
                                        <td>12/02/17 to 12/02/17 </td>
                                        <td>Personal</td>
                                        <td>In Progress</td>
                                        <td><button type="button" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></button></td>
                                    </tr>-->



                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3 class="panel-title">Leave Details</h3>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                            <table class="table table-bordered table-striped table-hover">
                                <thead class="no-bd">
                                    <tr>
                                        <th>
                                            <strong>Month</strong>
                                        </th>
                                        <th>
                                            <strong>Total Leave</strong>
                                        </th>
                                        <th>
                                            <strong>Carry Forward</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="no-bd-y">
                                    <!--<tr  *ngFor="let rec of _employeeLeaveListGroupByMonth;let i = index">

                                        <td>{{rec[0].fromDate| date: 'MMMM,y'}}</td>
                                        <td>3.00</td>
                                        <td>4.50</td>
                                    </tr>-->
                                    <tr>
                                        <td>September, 2015</td>
                                        <td>3.00</td>
                                        <td>4.50</td>
                                    </tr>
                                    <tr>
                                        <td>October, 2015</td>
                                        <td>1.00</td>
                                        <td>4.50</td>
                                    </tr>
                                    <tr>
                                        <td>November, 2015</td>
                                        <td>00.00</td>
                                        <td>4.50</td>
                                    </tr>
                                    <tr>
                                        <td>December, 2015</td>
                                        <td>00.00</td>
                                        <td>4.50</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<!-- END MAIN CONTENT -->
