/obj
/bin
/__server_build__
/node_modules
/typings
/tsd_typings/
npm-debug.log
/wwwroot/dist/
/dist/

.idea
*.ngfactory.ts
*.css.shim.ts
*.map
.DS_Store

webpack.records.json

/npm-debug.log.*

*.pyc
