<div id="main-content" >
    <div class="row m-t-10">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading text-right">
            <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default"><i class="fa fa-question"></i> </button>
          </div>
          <div class="panel-body">
           
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-12 ">
                <label class="bold" >Employee</label>
                <select class="form-control">
                  <option>-- Select --</option>
                </select>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12 ">
                <label class="bold" >Leave Structure</label>
                <select class="form-control">
                  <option>-- Select --</option>
                </select>
              </div>
              
              
            </div>
            
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover">
                    <thead class="no-bd">
                      <tr>
                        <th><strong>Employee Name</strong> </th>
                        <th><strong>Branch</strong> </th>
                        <th><strong>Department</strong> </th>
                        <th><strong>CL(Monthly)</strong></th>
                        <th><strong>Total Leave(Monthly)</strong></th>
                        <th><strong>Total Leave(Yearly)</strong></th>
                        <th><strong>CF</strong></th>
                      </tr>
                    </thead>
                    <tbody class="no-bd-y">
                      <tr>
                        <td>Prashant Kapse </td>
                        <td>Kailashnagar</td>
                        <td>Software development (Kailashnagar)</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>12.00</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                        <td>Ankit Chopada </td>
                        <td>Kailashnagar</td>
                        <td>Software development (Kailashnagar)</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>12.00</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                        <td>Ankur Patel </td>
                        <td>Kailashnagar</td>
                        <td>Software development (Kailashnagar)</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>12.00</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                        <td>Arvind Salunke </td>
                        <td>Kailashnagar</td>
                        <td>Software development (Kailashnagar)</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>12.00</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                        <td>Avani Ghervara </td>
                        <td>Kailashnagar</td>
                        <td>Software development (Kailashnagar)</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>12.00</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                        <td>Bharat Jariwala </td>
                        <td>Kailashnagar</td>
                        <td>Software development (Kailashnagar)</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>12.00</td>
                        <td>0.00</td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>