<!--<p>
  myattendance works!
</p>-->

 <!-- BEGIN MAIN CONTENT -->
<div id="main-content">

    <div class="widget-fullwidth row">
        <div class="col-md-9 p-0 no-bd">
            <div class="widget bg-white">
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 p-0">
            <div class="widget">
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                            <table class="table table-bordered table-striped table-hover bg-white">

                                <tbody class="no-bd-y">
                                    <tr>
                                        <td>Total Present </td>
                                        <td>7</td>
                                    </tr>
                                    <tr>
                                        <td>Total Absent</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>Leave Request </td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Total Leave</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Remain Leave</td>
                                        <td>7</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div id='external-events'>
                                <br>
                                <br>
                                <p><strong>Color Indication</strong></p>
                                <div class="external-event bg-green" data-class="bg-green" style="position: relative;">
                                    <i class="fa fa-move"></i>Present
                                </div>
                                <div class="external-event bg-red" data-class="bg-red" style="position: relative;">
                                    <i class="fa fa-move"></i>Absent
                                </div>
                                <div class="external-event bg-lightblue" data-class="bg-red" style="position: relative;">
                                    <i class="fa fa-move"></i>Link for Leave Request
                                </div>
                                <div class="external-event bg-purple" data-class="bg-purple" style="position: relative;">
                                    <i class="fa fa-move"></i>Onleave
                                </div>
                                <div class="external-event bg-orange" data-class="bg-purple" style="position: relative;">
                                    <i class="fa fa-move"></i>Holidays
                                </div>
                                <div class="external-event bg-pink" data-class="bg-red" style="position: relative;">
                                    <i class="fa fa-move"></i>Weekends
                                </div>
                                <div class="external-event bg-blue" data-class="bg-blue" style="position: relative;">
                                    <i class="fa fa-move"></i>Leave Request
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




</div>
<!-- END MAIN CONTENT -->
