<app-page-header [heading]="'Employee Salary'" [icon]="'fa fa-users'"></app-page-header>

<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-12 ">
    <label class="bold" >Employee</label>
    <select class="form-control">
      <option>-- Select --</option>
    </select>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12 ">
    <label class="bold" >Salary Structure</label>
    <select class="form-control">
      <option>-- Select --</option>
    </select>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12 ">
    <label class="bold" >Department</label>
    <select class="form-control">
      <option>-- Select --</option>
    </select>
  </div>
  
  
</div>

<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Employee Salary table</div>
            <div class="card-block table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><strong>Employee Name</strong> </th>
                            <th><strong>Joinig Date</strong> </th>
                            <th><strong>Department</strong> </th>
                            <th><strong>Position</strong></th>
                            <th><strong>CTC</strong></th>
                            <th><strong>Professional Tax</strong></th>
                            <th><strong>Action</strong></th>
                        </tr>
                    </thead>
                      <tbody class="no-bd-y">
                          <tr>
                                                <td>Prashant Kapse </td>
                                                <td>2/6/2017 12:00:00 AM</td>
                                                <td>Software development (Kailashnagar)</td>
                                                <td>ASP.NET Developer</td>                       
                                                <td>20000.00</td>
                                                <td>200.00</td>
                                                <td>
                                                  <button type="button" class="btn btn-sm btn-warning" title="Edit" data-toggle="modal" data-target="#modal-basic"><i class="fa fa-pencil"></i></button>
                                                
                                                <div class="modal fade text-left" id="modal-basic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                  <h4 class="modal-title" id="myModalLabel"><strong>Employee Salary</strong> </h4>
                                                </div>
                                                <div class="modal-body">
                                                  <div class="form-horizontal">
                                        
                                        <div class="m-b-30">
                                          <div class="form-group">
                                            <label class="col-sm-2 control-label">Department </label>
                                            <div class="col-sm-3">
                                              <select class="form-control">
                                                <option>---Select---</option>
                                              </select>
                                            </div>
                                            <label class="col-sm-2 control-label">Salary Structure  </label>
                                            <div class="col-sm-3">
                                              <select class="form-control">
                                                <option>---Select---</option>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                          <table class="table table-bordered table-striped table-hover">
                                            <thead class="no-bd">
                                              <tr>
                                                <th><strong>Category Name</strong> </th>
                                                <th><strong>Category wise Amount</strong> </th>
                                                <th><strong>Percentage</strong> </th>
                                                <th><strong>Percentage Of</strong> </th>
                                                <th><strong>Duration</strong> </th>
                                                <th><strong>Deduction</strong> </th>
                                              </tr>
                                            </thead>
                                            <tbody class="no-bd-y">
                                              <tr>
                                                <td>CTC</td>
                                                <td>
                                                  <div class="form-inline">
                                      
                                        
                                        <div class="input-group">
                                          <div class="input-group-addon">₹</div>
                                          <input type="text" class="form-control"  placeholder="Amount">
                                        </div>
                                      
                                        
                                      </div>
                                                </td>
                                                <td> </td>
                                                <td> </td>
                                                <td>Monthly</td>
                                                <td></td>
                                              </tr>
                                              <tr>
                                                <td>Professional tax</td>
                                                <td>
                                                  <div >
                                        
                                        
                                        <div class="input-group">
                                          <div class="input-group-addon">₹</div>
                                          <input type="text" class="form-control"  placeholder="Amount">
                                        </div>
                                        
                                        
                                      </div>
                                                </td>
                                                <td> </td>
                                                <td> </td>
                                                <td>Monthly</td>
                                                <td><i class="fa fa-check"></i></td>
                                              </tr>
                                              <tr>
                                                <td>Gross Salary</td>
                                                <td>
                                                  ₹ 14900
                                                </td>
                                                <td> </td>
                                                <td> </td>
                                                <td></td>
                                                <td></td>
                                              </tr>
                                              
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                        
                                      </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-primary" onclick="javascript:$('#form1').parsley('validate');">Save</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                                    </td>
                                  </tr>
                            <tr>
                                    <td>Prashant Kapse </td>
                                    <td>2/6/2017 12:00:00 AM</td>
                                    <td>Software development (Kailashnagar)</td>
                                    <td>ASP.NET Developer</td>                       
                                    <td>20000.00</td>
                                    <td>200.00</td>
                                    <td><button type="button" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></button>  </td>
                                  </tr>
                            <tr>
                                    <td>Prashant Kapse </td>
                                    <td>2/6/2017 12:00:00 AM</td>
                                    <td>Software development (Kailashnagar)</td>
                                    <td>ASP.NET Developer</td>                       
                                    <td>20000.00</td>
                                    <td>200.00</td>
                                    <td><button type="button" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></button>  </td>
                                  </tr>
                            <tr>
                                    <td>Prashant Kapse </td>
                                    <td>2/6/2017 12:00:00 AM</td>
                                    <td>Software development (Kailashnagar)</td>
                                    <td>ASP.NET Developer</td>                       
                                    <td>20000.00</td>
                                    <td>200.00</td>
                                    <td><button type="button" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></button>  </td>
                                  </tr>
                            <tr>
                                    <td>Prashant Kapse </td>
                                    <td>2/6/2017 12:00:00 AM</td>
                                    <td>Software development (Kailashnagar)</td>
                                    <td>ASP.NET Developer</td>                       
                                    <td>20000.00</td>
                                    <td>200.00</td>
                                    <td><button type="button" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></button>  </td>
                                  </tr>
                            <tr>
                                    <td>Prashant Kapse </td>
                                    <td>2/6/2017 12:00:00 AM</td>
                                    <td>Software development (Kailashnagar)</td>
                                    <td>ASP.NET Developer</td>                       
                                    <td>20000.00</td>
                                    <td>200.00</td>
                                    <td><button type="button" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></button>  </td>
                                  </tr>
                            <tr>
                                    <td>Prashant Kapse </td>
                                    <td>2/6/2017 12:00:00 AM</td>
                                    <td>Software development (Kailashnagar)</td>
                                    <td>ASP.NET Developer</td>                       
                                    <td>20000.00</td>
                                    <td>200.00</td>
                                    <td><button type="button" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></button>  </td>
                                  </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>