<!--<p>
  holiday-details works!
</p>-->

<div class="row m-t-10">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading text-right">

                <div class="btn-group text-left">
                    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        Export <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="">Print</a>
                        </li>
                        <li>
                            <a href="">Export to PDF</a>
                        </li>
                        <li>
                            <a href="">Export to XLS</a>
                        </li>
                        <li>
                            <a href="">Export to CSV</a>
                        </li>
                        <li>
                            <a href="">Export to DOC</a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default">
                    <i class="fa fa-question"></i>
                </button>

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead class="no-bd">
                                <tr>
                                    <th>
                                        <strong>Holiday Date</strong>
                                    </th>
                                    <th>
                                        <strong>Holiday Discription</strong>
                                    </th>

                                </tr>
                            </thead>
                            <tbody class="no-bd-y">
                                <tr *ngFor="let lookupdta of lookupdataByRow; let i = index">
                                    <td *ngFor="let lookupdta1 of lookupdta" ><span *ngIf="lookupdta1.fieldName != 'IsActive'">{{lookupdta1.value}}</span></td>
                                    <!--<td *ngIf="lookupdta.fieldName == 'HolidayDate'">{{lookupdta.value}}</td>
                                    <td *ngIf="lookupdta.fieldName == 'HolidayDesc'">{{lookupdta.value}}</td>-->
                                </tr>
                                <!--<tr>
                                    <td>31/12/2016</td>
                                    <td>Adjustment 1-January-2017 New Year</td>
                                </tr>
                                <tr>
                                    <td>07/01/2017</td>
                                    <td>1st Saturday Off(January)</td>
                                </tr>
                                <tr>
                                    <td>14/01/2017</td>
                                    <td>Kite Festival</td>
                                </tr>
                                <tr>
                                    <td>21/01/2017</td>
                                    <td>3rd Saturday Off(January)</td>
                                </tr>
                                <tr>
                                    <td>26/01/2017</td>
                                    <td>Republic Day</td>
                                </tr>
                                <tr>
                                    <td>04/02/2017</td>
                                    <td>1st Saturday off (February)</td>
                                </tr>
                                <tr>
                                    <td>18/02/2017</td>
                                    <td>3rd Saturday off (February)</td>
                                </tr>
                                <tr>
                                    <td>31/12/2016</td>
                                    <td>Adjustment 1-January-2017 New Year</td>
                                </tr>
                                <tr>
                                    <td>07/01/2017</td>
                                    <td>1st Saturday Off(January)</td>
                                </tr>
                                <tr>
                                    <td>14/01/2017</td>
                                    <td>Kite Festival</td>
                                </tr>
                                <tr>
                                    <td>21/01/2017</td>
                                    <td>3rd Saturday Off(January)</td>
                                </tr>
                                <tr>
                                    <td>26/01/2017</td>
                                    <td>Republic Day</td>
                                </tr>
                                <tr>
                                    <td>04/02/2017</td>
                                    <td>1st Saturday off (February)</td>
                                </tr>
                                <tr>
                                    <td>18/02/2017</td>
                                    <td>3rd Saturday off (February)</td>
                                </tr>-->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
