<p-confirmDialog width="425"></p-confirmDialog>
<div id="main-content" >
    <div class="row m-t-10">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading text-right">
            <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default"><i class="fa fa-question"></i> </button>
          </div>
          <div class="panel-body">
           <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                <button [routerLink]="['/automation/checklists/form']" class="btn btn-primary m-b-10" >Add Checklist</button>
              </div>
            </div>
            
            
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover">
                    <thead class="no-bd">
                      <tr>                       
                        <th><strong>Name</strong> </th>
                        <th><strong>Form Name</strong> </th>
                        <th><strong>Number of Parent Tasks Associated</strong> </th>                        
                        <th><strong>Action</strong></th>                      
                      </tr>
                    </thead>
                    <tbody class="no-bd-y">
                      <tr *ngFor="let lst of pagedItems">                       
                        <td><a href="#">{{lst.checklistName}} </a></td>
                        <td>{{lst.custom_formName}}</td>
                        <td>{{lst.taskCount}}</td>                        
						            <td>
                          <button [routerLink]="['/automation/checklists/form/' + lst.id ]" type="button" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></button>  
                          <button (click)="delete(lst.id)" type="button" class="btn btn-sm btn-danger" title="Delete"><i class="fa fa-remove" ></i></button>
                        </td>   
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>