 <!-- BEGIN MAIN CONTENT -->
<div id="main-content" class="dashboard">
    <div class="row m-t-20">
        <div class="col-md-3 col-sm-12">
            <div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-blue p-15">
                    <div class="row m-b-6">
                        <div class="col-xs-3">
                            <i class="glyph-icon flaticon-incomes"></i>
                        </div>
                        <div class="col-xs-9">
                            <small class="stat-title">Active Employees</small>
                            <h1 class="m-0 w-500">27</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-title">Joinee this Month</small>
                            <h3 class="m-0 w-500">4</h3>
                        </div>
                        <div class="col-xs-6">
                            <small class="stat-title">Resign this Month</small>
                            <h3 class="m-0 w-500">2</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-red p-15">
                    <div class="row m-b-6">
                        <div class="col-xs-3">
                            <i class="glyph-icon flaticon-educational"></i>
                        </div>
                        <div class="col-xs-9">
                            <small class="stat-title">Curr. Payroll</small>
                            <h1 class="m-0 w-500">9,00,000</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-title">Prev. Month Pay</small>
                            <h3 class="m-0 w-500">7,50,000</h3>
                        </div>
                        <div class="col-xs-6">
                            <small class="stat-title">This Year Pay</small>
                            <h3 class="m-0 w-500">210K</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-green p-15">
                    <div class="row m-b-6">
                        <div class="col-xs-3">
                            <i class="glyph-icon flaticon-educational"></i>
                        </div>
                        <div class="col-xs-9">
                            <small class="stat-title">Today Attendance</small>
                            <h1 class="m-0 w-500">22</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-title">Prev. Month Attn.</small>
                            <h3 class="m-0 w-500">250</h3>
                        </div>
                        <div class="col-xs-6">
                            <small class="stat-title">Cur. Month Attn.</small>
                            <h3 class="m-0 w-500">250</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-dark p-15">
                    <div class="row m-b-6">
                        <div class="col-xs-3">
                            <i class="glyph-icon flaticon-incomes"></i>
                        </div>
                        <div class="col-xs-9">
                            <small class="stat-title">Today Leave</small>
                            <h1 class="m-0 w-500">18</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-title">Prev. Month Leave</small>
                            <h3 class="m-0 w-500">5</h3>
                        </div>
                        <div class="col-xs-6">
                            <small class="stat-title">Cur. Month Leave</small>
                            <h3 class="m-0 w-500">10</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix pos-rel">

                    <h2 class="panel-title width-100p c-blue text-center w-500 f-20 carrois">New Joinee</h2>

                </div>
                <div class="panel-body messages">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="withScroll" data-height="320">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover m-b-0">
                                        <thead class="no-bd">
                                            <tr>
                                                <th><strong>Photo</strong></th>
                                                <th><strong>Basic Info</strong></th>
                                                <th><strong>Emp Id</strong></th>
                                                <th><strong>Department</strong></th>
                                                <th><strong>Date of Joining</strong></th>
                                                <th><strong>Role</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody class="no-bd-y">
                                            <tr>
                                                <td align="center"> <img src="assets/img/avatars/avatar1.png" alt="" class="img-circle"> </td>
                                                <td>Prashant Kapse <br> prashant.kapse@krtya.com</td>
                                                <td>Emp009</td>
                                                <td>Software Development</td>
                                                <td>05 Feb 2017</td>
                                                <td>Asp. Net Developer</td>
                                            </tr>
                                            <tr>
                                                <td align="center"> <img src="assets/img/avatars/avatar1.png" alt="" class="img-circle"> </td>
                                                <td>Prashant Kapse <br> prashant.kapse@krtya.com</td>
                                                <td>Emp009</td>
                                                <td>Software Development</td>
                                                <td>05 Feb 2017</td>
                                                <td>Asp. Net Developer</td>
                                            </tr>
                                            <tr>
                                                <td align="center"> <img src="assets/img/avatars/avatar1.png" alt="" class="img-circle"> </td>
                                                <td>Prashant Kapse <br> prashant.kapse@krtya.com</td>
                                                <td>Emp009</td>
                                                <td>Software Development</td>
                                                <td>05 Feb 2017</td>
                                                <td>Asp. Net Developer</td>
                                            </tr>
                                            <tr>
                                                <td align="center"> <img src="assets/img/avatars/avatar1.png" alt="" class="img-circle"> </td>
                                                <td>Prashant Kapse <br> prashant.kapse@krtya.com</td>
                                                <td>Emp009</td>
                                                <td>Software Development</td>
                                                <td>05 Feb 2017</td>
                                                <td>Asp. Net Developer</td>
                                            </tr>
                                            <tr>
                                                <td align="center"> <img src="assets/img/avatars/avatar1.png" alt="" class="img-circle"> </td>
                                                <td>Prashant Kapse <br> prashant.kapse@krtya.com</td>
                                                <td>Emp009</td>
                                                <td>Software Development</td>
                                                <td>05 Feb 2017</td>
                                                <td>Asp. Net Developer</td>
                                            </tr>
                                            <tr>
                                                <td align="center"> <img src="assets/img/avatars/avatar1.png" alt="" class="img-circle"> </td>
                                                <td>Prashant Kapse <br> prashant.kapse@krtya.com</td>
                                                <td>Emp009</td>
                                                <td>Software Development</td>
                                                <td>05 Feb 2017</td>
                                                <td>Asp. Net Developer</td>
                                            </tr>
                                            <tr>
                                                <td align="center"> <img src="assets/img/avatars/avatar1.png" alt="" class="img-circle"> </td>
                                                <td>Prashant Kapse <br> prashant.kapse@krtya.com</td>
                                                <td>Emp009</td>
                                                <td>Software Development</td>
                                                <td>05 Feb 2017</td>
                                                <td>Asp. Net Developer</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="m-10"><a href="#">View More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix pos-rel">

                    <h2 class="panel-title width-100p c-blue text-center w-500 f-20 carrois">Leave Request</h2>

                </div>
                <div class="panel-body messages">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="withScroll" data-height="320">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover m-b-0">
                                        <thead class="no-bd">
                                            <tr>
                                                <th>
                                                    <strong>Employee Name</strong>
                                                </th>
                                                <th>
                                                    <strong>Leave Reason</strong>
                                                </th>
                                                <th>
                                                    <strong>From Date</strong>
                                                </th>
                                                <th>
                                                    <strong>To Date</strong>
                                                </th>
                                                <th>
                                                    <strong>Days</strong>
                                                </th>
                                                <th>
                                                    <strong>Action</strong>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody class="no-bd-y">
                                            <tr>
                                                <td>Sagar vora</td>
                                                <td>Social Event Leave</td>
                                                <td>05 Feb 2017</td>
                                                <td>06 Feb 2017</td>
                                                <td>2</td>
                                                <td><button type="button" class="btn btn-sm btn-danger" title="Reject"><i class="fa fa-remove"></i></button><button type="button" class="btn btn-sm btn-success" title="Accpet"><i class="fa fa-check"></i></button></td>
                                            </tr>
                                            <tr>
                                                <td>Sagar vora</td>
                                                <td>Social Event Leave</td>
                                                <td>05 Feb 2017</td>
                                                <td>06 Feb 2017</td>
                                                <td>2</td>
                                                <td><button type="button" class="btn btn-sm btn-danger" title="Reject"><i class="fa fa-remove"></i></button><button type="button" class="btn btn-sm btn-success" title="Accpet"><i class="fa fa-check"></i></button></td>
                                            </tr>
                                            <tr>
                                                <td>Sagar vora</td>
                                                <td>Social Event Leave</td>
                                                <td>05 Feb 2017</td>
                                                <td>06 Feb 2017</td>
                                                <td>2</td>
                                                <td><button type="button" class="btn btn-sm btn-danger" title="Reject"><i class="fa fa-remove"></i></button><button type="button" class="btn btn-sm btn-success" title="Accpet"><i class="fa fa-check"></i></button></td>
                                            </tr>
                                            <tr>
                                                <td>Sagar vora</td>
                                                <td>Social Event Leave</td>
                                                <td>05 Feb 2017</td>
                                                <td>06 Feb 2017</td>
                                                <td>2</td>
                                                <td><button type="button" class="btn btn-sm btn-danger" title="Reject"><i class="fa fa-remove"></i></button><button type="button" class="btn btn-sm btn-success" title="Accpet"><i class="fa fa-check"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="m-10"><a href="#">View More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix pos-rel">
                    <h2 class="panel-title width-100p c-blue text-center w-500 f-20 carrois">Leaving Employee</h2>
                </div>
                <div class="panel-body messages">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="withScroll borhigh-list-main" data-height="140">
                                <ul class="list-unstyled borhigh-list">
                                    <li>
                                        <h3 class="panel-title">Manish Parakhiya, Emp009, manish.parakhiya@krtya.com</h3><br>
                                        On 27 Feb 2017
                                    </li>
                                    <li>
                                        <h3 class="panel-title">Akhil Pandit, Emp008, akhil.pandit@krtya.com</h3><br>
                                        On 18 Feb 2017
                                    </li>
                                </ul>
                            </div>
                            <div class="m-10"><a href="#">View More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix pos-rel">
                    <h2 class="panel-title width-100p c-blue text-center w-500 f-20 carrois">Interview Schedule</h2>
                </div>
                <div class="panel-body messages">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="withScroll borhigh-list-main" data-height="140">
                                <ul class="list-unstyled borhigh-list">
                                    <li>
                                        <h3 class="panel-title">Manish Patel, Asp.Net MVC Developer, manish.patel@krtya.com</h3><br>
                                        On 27 Feb 2017
                                    </li>
                                    <li>
                                        <h3 class="panel-title">Ravi Mehta, Asp.Net MVC Developer, ravi.mehta@krtya.com</h3><br>
                                        On 18 Feb 2017
                                    </li>
                                </ul>
                            </div>
                            <div class="m-10"><a href="#">View More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 m-b-20">
            <div class="modal fade" id="event-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><strong>Manage</strong> my events</h4>
                        </div>
                        <div class="modal-body">
                            <p></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success save-event">Create event</button>
                            <button type="button" class="btn btn-danger delete-event" data-dismiss="modal">Delete</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="external-events" class="bg-white row m-0">

                <div class="col-md-7  p-0 no-bd">
                    <div class="widget bg-white">

                        <div class="widget-body p-b-0">
                            <div class="row">

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h2 class="panel-title width-100p c-blue w-500 f-20 carrois" id="calender-current-day">Events Manager</h2>
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="widget bg-gray-l">
                        <div class="widget-body p-b-0">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <div id='external-events'>
                                        <br><br><br>
                                        <div class="external-event bg-green" data-class="bg-green" style="position: relative;">
                                            <i class="fa fa-move"></i>Birthday
                                        </div>
                                        <div class="external-event bg-purple" data-class="bg-purple" style="position: relative;">
                                            <i class="fa fa-move"></i>Anniversary
                                        </div>
                                        <div class="external-event bg-red" data-class="bg-red" style="position: relative;">
                                            <i class="fa fa-move"></i>Work
                                        </div>
                                        <div class="external-event bg-blue" data-class="bg-blue" style="position: relative;">
                                            <i class="fa fa-move"></i>Children
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END MAIN CONTENT -->