<p-growl [value]="msgs"></p-growl>
<p-confirmDialog width="425"></p-confirmDialog>
<div id="main-content" >
    <div class="row m-t-10">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading text-right">
            <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default"><i class="fa fa-question"></i> </button>
          </div>
          <div class="panel-body">
           <div class="row">
			        <div class="col-md-12 col-sm-12 col-xs-12">
                  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value,form.valid)" novalidate class="form-horizontal">
                      <div class="boder-btm">
										    <h3 class="panel-title">Employee Salary Structure</h3>
										  </div>
										  <div class="m-b-30">
                          <div class="form-group">
                            <label class="col-sm-2 control-label"> Name  </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" formControlName="name" [(ngModel)]="_salaryStructureModel.name">
                              <div [hidden]="form.get('name').valid || (form.get('name').pristine && !submitted)" class="alert alert-danger">
                                  Name is required.
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label"> Department </label>
                            <div class="col-sm-4">
                              <p-multiSelect (onChange)="onDepartmentChange($event)" [options]="_departments" class="form-control" formControlName="department" [(ngModel)]="_salaryStructureModel.department"></p-multiSelect>
                              <div [hidden]="form.get('department').valid || (form.get('department').pristine && !submitted)" class="alert alert-danger">
                                  Department is required.
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label"> Active  </label>
                            <div class="col-sm-4">
                              <p-inputSwitch class="form-control" onLabel="Yes" offLabel="No" formControlName="isActive" [(ngModel)]="_salaryStructureModel.isActive"></p-inputSwitch>
                              <div [hidden]="form.get('isActive').valid || (form.get('isActive').pristine && !submitted)" class="alert alert-danger">
                                  Active is required.
                              </div>
                            </div>
                          </div>
                          <div>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                                <button type="button" class="btn btn-primary m-b-10" data-toggle="modal" data-target="#myModalPayType">Add Pay Type</button>
                              </div>
                            </div>
                            <div class="boder-btm">
                              <h3 class="panel-title">Pay Type :</h3>
                            </div>
                            <button type="button" id="closeErrormsgs" pButton (click)="errorClear()" icon="fa-close" style="display:none" label="Clear"></button>
                            <p-messages [(value)]="removeErrormsgs"></p-messages>
                            <table class="table table-bordered table-striped table-hover">
                              <thead class="no-bd">
                                <tr>
                                  <th width="30%"><strong>Salary structure</strong> </th>
                                  <th><strong>Percentage</strong> </th>
                                  <th><strong>Percentage Of</strong> </th>
                                  <th><strong>Period</strong></th>
                                  <th><strong>Amount</strong></th>
                                  <th><strong>Deduction</strong></th>
                                  <th><strong>Action</strong></th>
                                </tr>
                              </thead>
                              <tbody class="no-bd-y">
                                <tr *ngFor="let cat of _payrollCategoryIds">                                                
                                  <td>{{cat.categoryName}} </td>
                                  <td> {{cat.percentage}} </td>
                                  <td> {{cat.percentageOf}} </td>
                                  <td>
                                    <span *ngIf="cat.period == 1">Monthly</span>
                                    <span *ngIf="cat.period == 2">Yearly</span>
                                    <span *ngIf="cat.period == 3">Daily</span>
                                    <span *ngIf="cat.period == 4">ShiftWise</span>
                                  </td>
                                  <td>{{cat.amount}}</td>
                                  <td> 
                                    <button *ngIf="cat.isDeduction" type="button" class="btn btn-sm btn-success" title="Check"><i class="fa fa-check"></i></button>
                                    <button *ngIf="!cat.isDeduction" type="button" class="btn btn-sm btn-danger" title="Delete"><i class="fa fa-remove" ></i></button>
                                  </td>
                                  <td>
                                    <button 
                                        [disabled]="cat.inherit"
                                        id="del_{{cat.id}}"
                                        (click)="removeCat(cat.id, $event)" 
                                        type="button" 
                                        class="btn btn-sm btn-danger" 
                                        title="Delete">
                                      <i class="fa fa-remove" ></i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <p-messages [(value)]="ErrorMsgs"></p-messages>
                          </div>
                          <button type="button" id="clear" pButton (click)="clear()" icon="fa-close" style="float:right;display:none" label="Clear"></button>
                          <div class="form-group">                                            
                            <div class="col-sm-10 col-sm-offset-2">
                                <button class="btn btn-primary m-b-10" type="submit">Submit</button>
                                <button [routerLink]="['/payroll/salary-structure']" class="btn btn-default m-b-10">Cancel</button>
                            </div>
                          </div> 
										  </div>
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="myModalPayType" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="closePayType" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Payroll Categories</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-hover">
            <thead class="no-bd">
              <tr>
                <th><strong></strong> </th>
                <th><strong width="30%">Pay Type</strong> </th>
                <th><strong>Percentage</strong> </th>
                <th><strong>Percentage Of</strong> </th>
                <th><strong>Period</strong></th>
                <th><strong>Amount</strong></th>
                <th><strong>Is Deduction</strong></th>
              </tr>
            </thead>
            <tbody class="no-bd-y">
               <tr *ngFor="let cat of _categories">
                  <td> <input id="cat_{{cat.id}}" type="checkbox" (change)="categoryChange(cat.id, $event)" [checked]="cat.checked"> </td>
                  <td>{{cat.categoryName}} </td>
                  <td> {{cat.percentage}} </td>
                  <td> {{cat.percentageOfNameList}} </td>
                  <td>
                      <span *ngIf="cat.period == 1">Monthly</span>
                      <span *ngIf="cat.period == 2">Yearly</span>
                      <span *ngIf="cat.period == 3">Daily</span>
                      <span *ngIf="cat.period == 4">ShiftWise</span>
                  </td>
                  <td>{{cat.amount}}</td>
                  <td> 
                    <button *ngIf="cat.isDeduction" type="button" class="btn btn-sm btn-success" title="Check"><i class="fa fa-check"></i></button>
                    <button *ngIf="!cat.isDeduction" type="button" class="btn btn-sm btn-danger" title="Delete"><i class="fa fa-remove" ></i></button>
                  </td>
                </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-primary m-b-10" (click)="addPayType()">Add Pay Type</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>