<nav id="sidebar">
    <div id="main-menu">
        <ul class="sidebar-nav">
            <li> <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']"><i class="fa fa-dashboard"></i><span class="sidebar-text">Dashboard</span></a> </li>
            <li [routerLinkActive]="['router-link-active']">
                <a (click)="addExpandClass('employee')">
                    <i class="glyph-icon flaticon-group44"></i><span class="sidebar-text">Employee</span>
                    <span class="fa arrow"></span>
               </a>
                <ul class="submenu collapse" [class.in]="showMenu === 'employee'">
                    <li>
                        <a [routerLink]="['/employee/lists']"><span>List View</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/employee/leave']"><span>Leave</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/employee/salary']"><span>Salary</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/employee/report']"><span>Report</span></a>
                    </li>
                </ul>
            </li>
            <li [routerLinkActive]="['router-link-active']">
                <a (click)="addExpandClass('UserAccessControl')">
                    <i class="glyph-icon flaticon-forms"></i><span class="sidebar-text">User Access Control</span><span class="fa arrow"></span>
                </a>
                <ul class="submenu collapse" [class.in]="showMenu === 'UserAccessControl'">
                    <li>
                        <a [routerLink]="['/user-access-control/permissions']"><span>Permissions</span></a>
                    </li>
                </ul>
            </li>
            <li [routerLinkActive]="['router-link-active']">
                <a (click)="addExpandClass('templates')">
                    <i class="glyph-icon flaticon-forms"></i><span class="sidebar-text">Templates</span><span class="fa arrow"></span>
                </a>
                <ul class="submenu collapse" [class.in]="showMenu === 'templates'">
                    <li>
                        <a [routerLink]="['/templates/email-templates']"><span>Email Template</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/templates/record-templates']"><span>Record Template</span></a>
                    </li>
                </ul>
            </li>
            <li [routerLinkActive]="['router-link-active']">
                <a (click)="addExpandClass('automation')">
                    <i class="glyph-icon flaticon-forms"></i><span class="sidebar-text">Automation</span><span class="fa arrow"></span>
                </a>
                <ul class="submenu collapse" [class.in]="showMenu === 'automation'">
                    <li>
                        <a [routerLink]="['/automation/workflows']"><span>Workflows</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/automation/mail-alerts']"><span>Mail Alerts</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/automation/tasks']"><span>Tasks</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/automation/checklists']"><span>Checklists</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/automation/field-updates']"><span>Field Updates</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/automation/webhooks']"><span>Webhooks</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/automation/custom-functions']"><span>Custom Functions </span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/automation/scheduler']"><span> Scheduler </span></a>
                    </li>
                </ul>
            </li>
            <li [routerLinkActive]="['router-link-active']">
                <a (click)="addExpandClass('appraisal')">
                    <i class="glyph-icon flaticon-forms"></i><span class="sidebar-text">Appraisal</span><span class="fa arrow"></span>
                </a>
                <ul class="submenu collapse" [class.in]="showMenu === 'appraisal'">
                    <li>
                        <a [routerLink]="['/appraisal']"><span>List View</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/appraisal/setting']"><span>Setting</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/appraisal/kpi']"><span>KPI</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/appraisal/review']"><span>Review</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/appraisal/report']"><span>Report</span></a>
                    </li>
                </ul>
            </li>
            <li [routerLinkActive]="['router-link-active']">
                <a (click)="addExpandClass('recruitment')"><i class="glyph-icon flaticon-hands-shake"></i><span class="sidebar-text">Recruitment</span><span class="fa arrow"></span></a>
                <ul class="submenu collapse" [class.in]="showMenu === 'recruitment'">
                    <li>
                        <a [routerLink]="['/recruitment']"><span>List View</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/recruitment/applicants']"><span>Applicants</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/recruitment/meetingcalendar']"><span>Meeting Calendar</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/recruitment/interviewlists']"><span>Interview List</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/recruitment/reports']"><span>Report</span></a>
                    </li>
                </ul>
            </li>
            <li [routerLinkActive]="['router-link-active']">
                <a (click)="addExpandClass('leave')"><i class="glyph-icon flaticon-email"></i><span class="sidebar-text">Leave & Attendance</span><span class="fa arrow"></span></a>
                <ul class="submenu collapse" [class.in]="showMenu === 'leave'">
                    <li>
                        <a [routerLink]="['/leaveandattendance']"><span>Leave List View</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/leaveandattendance/leave-structure']"><span>Leave Structure</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/leaveandattendance/holidays']"><span>Holiday</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/leaveandattendance/attendance']"><span>Attendance</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/leaveandattendance/misspunch']"><span>MissPunch</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/leaveandattendance/reports']"><span>Report</span></a>
                    </li>
                </ul>
            </li>
            <li [routerLinkActive]="['router-link-active']">
                <a (click)="addExpandClass('payroll')"><i class="glyph-icon flaticon-pages"></i><span class="sidebar-text">Payroll</span><span class="fa arrow"></span></a>
                <ul class="submenu collapse" [class.in]="showMenu === 'payroll'">
                    <li>
                        <a [routerLink]="['/payroll/categories']"><span>Categories</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/payroll/salary-structure']"><span>Salary Structure</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/payroll/lists']"><span>List View</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/payroll/alert']"><span>Alert</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/payroll/setting']"><span>Setting</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/payroll/adjustment']"><span>Adjustment</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/payroll/claim']"><span>Claim & Advance Request</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/payroll/reports']"><span>Report</span></a>
                    </li>
                </ul>
            </li>
            <li> <a [routerLink]="['/lookup']" [routerLinkActive]="['router-link-active']"><i class="glyph-icon flaticon-world"></i><span class="sidebar-text">Lookups</span></a> </li>
        </ul>
    </div>
</nav>