<div id="main-content" >
    <div class="row m-t-10">
      <div class="col-md-12">

        <div class="">
          <ul id="myTab2" class="nav nav-tabs nav-dark">
            <li *ngFor="let tab of final_array;let i = index">
              <a id="maintab_{{i+1}}" href="#tab2_{{i+1}}" data-toggle="tab"> {{tab[0]['tabName']}} </a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div *ngFor="let tab of final_array;let i = index" class="tab-pane fade" id="tab2_{{i+1}}">
              <div class="text-right m-b-20">
	              <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default"><i class="fa fa-question"></i> </button>
              </div>
               <app-dynamic-forms
                    [generalFormId]="generalFormId"
                    [tabnumber]="i" 
                    [data]="tab"
                    (childSubmitData)="getSubmittedData($event)"> 
                </app-dynamic-forms>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>