<div id="main-content" class="dashboard">
	<div class="boder-btm-dark">
		  <h1 class="panel-title">Company Configuration</h1>
		</div>
    <ul class="lookup-list">
        	<li>
        	 
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-blue text-center p-0" >
               	 <a [routerLink]="['/lookup/branch']" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
                	 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/manage-branches-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Manage Branches
					 </div>
               </a>
                </div>
              </div>
              
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-red text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/currency-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Currency
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-green text-center p-0">
                 <a [routerLink]="['/lookup/holiday']" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/holiday-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Holiday
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-dark text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/announcement-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Announcement
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        </ul>
    <div class="boder-btm-dark">
		  <h1 class="panel-title">Employee Management</h1>
		</div>
	<ul class="list-unstyled lookup-list">
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-blue text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/employee-position-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Employee Position
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-red text-center p-0">
                <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/employee-grade-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Employee Grade
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-green text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/employee-department-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Employee Department
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-dark text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/shift-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Shift
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-blue text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/pay-head-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Pay Type 
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-red text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/leave-head-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Leave Type 
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-green text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/employee-tracking-mapping-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Employee Tracker Mapping
					 </div>
               	 </a>
                </div>
              </div>
        	</li>        	
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-blue text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/working-days-alert-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Working Days Alert
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-dark text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/role-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Job Profile
					 </div>
               	 </a>
                </div>
              </div>
        	</li>        	
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-green text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/backoffice-detail-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Job Posting
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-red text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/skills-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Skills
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        </ul>
    <div class="boder-btm-dark">
		  <h1 class="panel-title">Others</h1>
		</div>
    <ul class="list-unstyled lookup-list">
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-blue text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/country-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Country
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-red text-center p-0">
                <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/states-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	State
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-green text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/city-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	City
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-dark text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/nationality-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Nationality
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-blue text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/email-template-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Email Template
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-red text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/sms-template-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	SMS Template 
					 </div>
               	 </a>
                </div>
              </div>
        	</li>
        	<li>
        		<div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-green text-center p-0">
                 <a href="#" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
					 <div class="lookup-icon">
					 	<img src="developer_assets/img/lookup-icons/employee-tracking-mapping-icon-48.png" width="36" height="36" alt="" >
					 </div>
					 <div class="lookup-title" >
					 	Import Export Data
					 </div>
               	 </a>
                </div>
              </div>
        	</li>        	
        	        	
        	
        </ul>
</div>