<div id="main-content" class="dashboard">
	<div *ngFor="let category of filter_Array">
		<div class="boder-btm-dark">
			  <h1 class="panel-title"> {{category[0].category}} </h1>
		</div>
    	<ul class="lookup-list">
    		<li *ngFor="let lookup of category">
				<div class="panel no-bd bd-3 panel-stat">
                	<div class="panel-body {{lookup.custom_color}} text-center p-0" >
               	 		<a [routerLink]="['/lookup/lists/' + lookup.lookupId]" class="lookup-link p-10 lookup-icon-size hvr-rectangle-out">
                		 	<div class="lookup-icon">
					 			<img src="developer_assets/img/lookup-icons/{{lookup.ImageUrl}}" width="36" height="36" alt="" >
					 		</div>
					 		<div class="lookup-title"> {{lookup.lookupName}} </div>
               			</a>
                	</div>
             	</div>
			</li>
    	</ul>
	</div>
</div>